@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body,
*:after,
*:before,
* {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-bg: rgba(243, 198, 189, 1);
  --secondary-bg: rgba(48, 64, 196, 1);
  --inbox-bg: rgba(252, 240, 227, 0.4);
  --engage-bg: rgba(0, 161, 198, 0.07);
  --silver-bg: rgba(43, 41, 45, 0.2);
  --secondary-text: rgba(48, 64, 196, 1);
  --accent-text: rgba(0, 155, 77, 1);
  --inbox-text: rgba(241, 89, 43, 1);
  --silver-text: rgba(43, 41, 45, 0.9);
}

/* --------------------------------------------- */
/* 1. header */
/* --------------------------------------------- */

#navbutton {
  width: 64px;
  height: 64px;
}
.nav-item:after {
  content: '';
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
}
.dropdown {
  z-index: 100;
}
.dropdown:hover > div {
  display: flex;
  color: black;
}
.dropdown:hover > .nav-item:after {
  display: block;
}
.dropdown:hover > .nav-arrow {
  display: block;
}
.dropdown:hover > div:hover {
  display: flex;
}
.dropdown > div {
  display: hidden;
}
.dropdown-container > a:hover > b {
  color: var(--accent-text);
}
.dropdown-container {
  width: 600px;
  max-width: 800px;
  top: 50px;
  right: -50px;
}
.nav-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translateX(20px) translateY(18px) rotate(45deg);
  background: white;
  display: none;
}
/* --------------------------------------------- */
/* header end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 2. hero */
/* --------------------------------------------- */
.hero-h2 {
  font-size: 3.125rem;
  line-height: 1.1;
}
.hero-image-container {
  width: calc(100vw - 0.4rem);
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.hero-grid {
  display: block;
}
/* .hero-grid-buttons button { */
/*   box-sizing: content-box; */
/* } */
@media (min-width: 1024px) {
  .hero-grid {
    height: calc(75vh - 4rem - 1rem);
    display: grid;
    grid-template-columns: 4fr 3fr 5fr;
    grid-template-rows: repeat(3, minmax(0, min-content));
    align-items: start;
    justify-items: start;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      'header image image'
      'para image image'
      'buttons image image';
  }
  .hero {
    min-height: 600px;
  }
  .hero-h2 {
    font-size: 4rem;
  }
  .hero-grid-header-image {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 10;
  }
  .hero-grid-image {
    grid-area: image;
    justify-self: end;
    align-self: center;
  }
  .hero-grid-para {
    grid-area: para;
  }
  .hero-grid-buttons {
    grid-area: buttons;
  }
}
/* --------------------------------------------- */
/* hero end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 3. questions */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* questions end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 4. logos */
/* --------------------------------------------- */
.logos div img {
  filter: grayscale(100%);
}
.logos-box {
  flex: 1 1 auto;
  width: 33.333333%;
  height: 6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}
@media (min-width: 1024px) {
  .logos-box {
    width: auto;
    border: none;
  }
}
/* --------------------------------------------- */
/* logos end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 5. features*/
/* --------------------------------------------- */
.features-grid {
  display: none;
}
@media (min-width: 1024px) {
  .features-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-areas:
      '. header image'
      'miniimg list image';
  }
  .features-grid-header {
    grid-area: header;
  }
  .features-grid-image {
    grid-area: image;
    justify-self: end;
  }
  .features-grid-list {
    grid-area: list;
  }
  .features-grid-miniimg {
    grid-area: miniimg;
  }
  .list-item {
    margin-bottom: 1rem;
  }
  .list-item > p {
    display: none;
  }
  .list-item:after {
    display: block;
    content: '';
    height: 1rem;
    border-bottom: 2px solid lightgray;
  }
  .list-item.active:after {
    display: block;
    content: '';
    height: 1rem;
    border-bottom: 2px solid var(--secondary-bg);
  }
  .list-item.active > p {
    display: block;
  }
  .list-item div div svg {
    fill: var(--silver-text);
  }
  .list-item div h3 {
    color: var(--silver-text);
  }
  .list-item.active div h3 {
    color: var(--secondary-text);
  }
  .list-item.active div div svg {
    fill: var(--secondary-text);
  }
}
/* --------------------------------------------- */
/* features end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 6. team inbox */
/* --------------------------------------------- */
.shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
/* --------------------------------------------- */
/* team inbox end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 7. communicate better */
/* --------------------------------------------- */
.comm-grid {
  display: block;
}
@media (min-width: 1024px) {
  .comm-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(0, auto));
    grid-template-areas:
      'text image'
      'list list';
  }
  .comm-grid-text {
    grid-area: text;
  }
  .comm-grid-image {
    grid-area: image;
  }
  .comm-grid-list {
    grid-area: list;
  }
}
/* --------------------------------------------- */
/* communicate end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 8. engage visitors */
/* --------------------------------------------- */
.card-container div:hover {
  background: var(--secondary-bg);
}
/* --------------------------------------------- */
/* engage visitors end */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* 9. testimonials */
/* --------------------------------------------- */
.carousel {
  clear: both;
}
.carousel-item {
  position: relative;
  width: 100%;
  float: left;
  display: none;
  backface-visibility: hidden;
  margin-right: -100%;
  transition: transform 0.3s linear;
}
.carousel-item.active {
  display: block;
}

[type='radio']:not(:checked),
[type='radio']:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
[type='radio']:not(:checked) + span,
[type='radio']:checked + span {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: 0.28s ease;
  user-select: none;
}

[type='radio'] + span:before,
[type='radio'] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: 0.28s ease;
}
[type='radio']:not(:checked) + span:before,
[type='radio']:not(:checked) + span:after,
[type='radio']:checked + span:before,
[type='radio']:checked + span:after {
  border-radius: 50%;
}

[type='radio']:not(:checked) + span:before,
[type='radio']:not(:checked) + span:after {
  background-color: lightgray;
}

[type='radio']:checked + span:after {
  background-color: var(--secondary-bg);
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
/* --------------------------------------------- */
/* testimonials end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 10. hiring */
/* --------------------------------------------- */
.hiring-job:hover {
  background: var(--secondary-bg);
  color: white;
}
.hiring-job:hover > div p {
  color: white;
}
.hiring-job:hover > button > svg > path {
  fill: white;
  opacity: 1;
}
/* --------------------------------------------- */
/* hiring end */
/* --------------------------------------------- */

/* --------------------------------------------- */
/* 11. footer */
/* --------------------------------------------- */
.footer-grid {
  display: block;
}
@media (min-width: 1024px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 50px;
    row-gap: 2rem;
    grid-template-areas:
      'text product company'
      'info . links';
  }
  .footer-grid-text {
    grid-area: text;
  }
  .footer-grid-product {
    grid-area: product;
  }
  .footer-grid-company {
    grid-area: company;
  }
  .footer-grid-info {
    grid-area: info;
  }
  .footer-grid-links {
    grid-area: links;
    justify-self: end;
  }
}
/* --------------------------------------------- */
/* footer end */
/* --------------------------------------------- */
